// #6CB7B8 bluegreen
// #FFFFFF white
// #0015B0 darkblue
// #B3AD00  gold
// #FFF917 yellow

.hidden {
    display: none;
}
ul {
    list-style-type: none;
    // display: flex;
}
img {
    width: 300px;
    height: auto;
    padding: 1em;
}